
@{
    ViewData["Title"] = "GetData";
}

<h1>GetData</h1>
<div class="container">
    <p class="alert alert-primary">Dữ liệu từ ViewBag: @ViewBag.message1</p>
    <p class="alert alert-danger">Đây là dữ liệu từ ViewData: @ViewData["name"]</p>
    <p class="alert alert-warning">Đây là dữ liệu từ TempData: @TempData["message3"]</p>
</div>

